svg#freepik_stories-sign-up:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-sign-up.animated #freepik--Plant--inject-6 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-sign-up.animated #freepik--user-icon--inject-6 {
  animation: 1.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
    1.5s Infinite linear wind;
  animation-delay: 0.6s, 2.1s;
  opacity: 0;
}
svg#freepik_stories-sign-up.animated #freepik--Notification--inject-6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
    1.5s Infinite linear shake;
  animation-delay: 0.3s, 5.3s;
  opacity: 0;
}
svg#freepik_stories-sign-up.animated #freepik--Mail--inject-6 {
  animation: 1.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
    1.5s Infinite linear floating;
  animation-delay: 0s, 1.7s;
}
svg#freepik_stories-sign-up.animated #freepik--Character--inject-6 {
  animation: 2.7s 1 forwards ease-in slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-sign-up.animated #freepik--speech-bubble--inject-6 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
