@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
  --white: #ffffff;
  --red: #E52D27;
  --gray1: #8C8C8C;
  --gray2: #c4c4c4;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
  background: var(--white);
	text-align: center;
	letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--gray1);

}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Estilo Page Abertura */
.logo{
  border: 2px solid var(--red);
  border-radius: 100%;
}
.coloRed {
  color: var(--red);
  border: 2px solid var(--red);
}
.shadow {
  box-shadow:rgba(0, 0, 0, .1);
}
.textShadow {
  text-shadow: var(--gray2) 0.1em 0.2em 0.2em;
}

/* Estilo Page Inscrição */

.bgGray {
  background-color: var(--gray2);
}
/* .line:after,
.line:before {
  content: " ";
  flex: 1;
  height: 1px;
  background: var(--gray);
} */
.line {
  width: 100%;
  color: var(--gray1);
}








.btn-custom{
  padding: 1px 15px 3px 2px;
	border-radius: 50px;
  border: 1px solid blue;
}

.test{
  border: 1px solid red;
}
.humor img{
  width: 30%;
  height: 30%;

  
}




/* Estilo Page Corrida */

.circle {
  margin: 35px;
  border-radius: 100%;
}
.circle1{
  border: 10px solid rgba(229, 45, 39, .7);
}
.circle2{
  width: 200px;
  height: 200px;
  border: 5px solid var(--red);
}
.borderCircle{
  width: 50px;
  height: 50px;
  border: 2px solid var(--red);
}
/* ******************* */