@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
  --white: #ffffff;
  --red: #e52d27;
  --gray1: #8c8c8c;
  --gray2: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-width: 500px;
  height: 100vh;
  background: var(--white);
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--gray1);
}

.container {
  height: 100%;
  
}

/* Estilo Page Login */
.logo {
  width: 100%;
  height: 70vh;
  border: 2px solid var(--red);
  border-radius: 100%;
}
.coloRed {
  color: var(--red);
  border: 2px solid var(--red);
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1);
}
.textShadow {
  text-shadow: var(--gray2) 0.1em 0.2em 0.2em;


}
a {
  color: var(--red);
}


/* Estilo Page Inscrição */

.bgGray {
  background-color: var(--gray2);
}
.line {
  width: 50%;
  color: var(--gray1);
}

/* Estilo Page Home */
.box {
  background-color: var(--gray2);
  border-radius: 20px;
}
.avatar img{
  width: 100%;
}
.bord {
  border: 2px solid var(--red);
  border-radius: 100%;
}
.btn a {
  color: var(--gray1);
}

/* Estilo Page Perfil */
.btn-custom img{
  width: 25%;
}

/* Estilo Page Corrida */

.circle {
  margin: 35px;
  border-radius: 100%;
  background-color:  orange;
}
.circle1 {
  border: 10px solid rgba(229, 45, 39, 0.7);
}
.circle2 {
  width: 200px;
  height: 200px;
  border: 5px solid var(--red);
  background-color: yellow;
}
.borderCircle {
  width: 50px;
  height: 50px;
  border: 2px solid var(--red);
  background-color: black;
}
/* ******************* */
